<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Platform</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.genre }}</td>
                <td>{{ game.platform }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>