{% extends "template.html" %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Platform</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.genre }}</td>
                    <td>{{ game.platform }}</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('edit', id=game.id) }}" role="button">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}